<!DOCTYPE html>
<html>
	<head>
		<title>Movie Search App</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/app.css">

	</head>
	<body>

