<% include partials/header%>
<h1>RESULTS</h1>

<%if (data["Response"] == "False") {%>
	<span><h2 align = "center">Nothing to Show!</h2></span>
	
<%} else {%>
	<% data["Search"].forEach(function(movie) {%>	
			<div class = "titles">
				<img class = "center" src="<%=movie["Poster"] %>">
				<p><a href="https://www.imdb.com/title/<%=movie["imdbID"]%>/">
				<strong>
					<%= movie["Title"] %>
				</strong>
				 - <%= movie["Year"] %>
				</p></a>
			</div>	
	<% }) %>
<%}%>

<% include partials/footer%>

