<% include partials/header%>

<div class = "wrapper">
	<section align="center"><strong>Movie Search</strong></section>
	<div>
		<form action = "/results" method = "GET" id = "search-form_3">
			<input type = "text" class = "search_3" placeholder = "Search..." name = "search" required>
			<input type = "submit" class = "submit_3" value="Search">
		</form>
	</div>

</div>

<% include partials/footer%>



